.title {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 0;
}

.header p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  margin-top: var(--space-md);
}

@media (min-width: 768px) {
  .buttonWrapper {
    justify-content: center;
  }
}